<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" href="favicon.ico">
    <title>Adams Animal Care</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        var appInsights = window.appInsights || function(config) {
            function s(config) {
                t[config] = function() {
                    var i = arguments;
                    t.queue.push(function() { t[config].apply(t, i) })
                }
            }

            var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u;
            for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;)s("track" + i.pop());
            return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function(config, r, f, e, o) {
                var s = u && u(config, r, f, e, o);
                return s !== !0 && t["_" + i](config, r, f, e, o), s
            }), t
        }({
            instrumentationKey: "cc7da1f3-924e-40f8-b5d1-d9caed9a3c64"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>

<header class="header">
    <div class="clearfix">
        <div class="logo-block grid-child">
            @Html.ActionLink("Adam's Animal Care", "Index", "Home", new object {}, new {@class = "logo"})
        </div>

        <div class="nav-block">
            <ul class="ul-base nav">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Services", "Services", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Appointments", "Appointments", "Home")</li>
            </ul>
        </div>

    </div>
</header>

<div class="container body">
    @RenderBody()
    <hr/>

</div>

    <footer class="footer">
        <div class="container-full">
            <div class="grid-parent">
                
                <div class="footer-social-block">
                    <img src="http://placehold.it/30x30" alt="Facebook" class="footer-social-each"/>
                    <img src="http://placehold.it/30x30" alt="Twitter" class="footer-social-each"/>
                    <img src="http://placehold.it/30x30" alt="LinkedIn" class="footer-social-each"/>
                    <img src="http://placehold.it/30x30" alt="Email" class="footer-social-each"/>
                </div>

                <div class="footer-copyright-block">
                    Copyright 2014 Adam's Animal Care. All Rights Reserved.
                </div>

            </div>
        </div>
    </footer>





@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
